{% load static %}
{% block content %}

    <div class=" product_boxes box ccwhite">
        <button type="button" class="btn btn-default remove-btn cc2plarge" onclick="remove_from_cart({{ product.product.id }},this)">X</button>

        {% if filter == 'Consoles' %}
            <div class = "containerimage" onclick="location.href='{% url 'consoles-one-console' product.product.manufacturer product.product.console_type product.product.id %}'">
        {% elif filter == 'Games' %}
            <div class = "containerimage" onclick="location.href='{% url 'consoles-one-game' product.product.manufacturer product.product.console_type product.product.id  %}'">
        {% elif filter == 'Accessories' %}
            <div class = "containerimage" onclick="location.href='{% url 'consoles-one-accessory' product.product.manufacturer product.product.console_type product.product.id  %}'">
        {% else %}
            <div class = "containerimage" onclick="location.href='{% url 'consoles-one' product.product.manufacturer product.product.console_type product.product.id  %}'">
        {% endif %}
            <a href="/products/{{ product.product.id }}"></a>
            <img class = "mediumimages" src="{{ product.product.productimage_set.last.image  }}" style="height:150px;">
        </div>
        <div class="button_and_text">
            <div class="info">
                <h4 class="name ccbluemedium center">{{ product.product.name }}</h4>

                  {% if product.product.on_sale == True %}
                      <p class="price ccbluesmall center">{{ product.product.discount_price}}$ (-{{ product.product.discount}}%)</p>
                      {% else %}
                      <p class="price ccbluesmall center">{{ product.product.price}} $</p>
                {% endif %}
            </div>
            <div class="btn-group product_container" role="group" aria-label="...">

                <label class = ccbluesmall>Quantity: </label>
                <input type="number" id='{{ product.product.id }}' name="quantity" min="1" max="{{ product.product.stock }}"  value='{{product.quantity}}' onchange="change_quantity({{ product.product.id }})">
            </div>
        </div>
    </div>

{% endblock %}