{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Captain Console</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" href="{% static 'css/images.css' %}" />
    <link rel="stylesheet" href="{% static 'css/color.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}" />
    <link rel="stylesheet" href="{% static 'css/container.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

</head>
{%  if user.is_authenticated %}
    <body class = "cclightblue" onload="calculate_cart()" style="background-image: url('https://wallpaperplay.com/walls/full/1/d/d/101186.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;" >
{% else %}
    <body class = "cclightblue homepage" style="background-image: url('https://wallpaperplay.com/walls/full/1/d/d/101186.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;">
{% endif %}

    {% include "navigation.html" %}
    <!-- Latest compiled and minified JavaScript -->
    <main id="main">
        <div main>
            {% block content %}
            {% endblock %}
        </div>
    </main>
    {% include "footer.html" %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="{% static 'js/products.js' %}"></script>
    <script src="{% static 'js/carts.js' %}"></script>


</body>

</html>