<div class="cclightblue">
    {%  if user.is_authenticated %}
    <div style="padding:2%;">
            <p class="cclightblue recently_viewed cc2plarge">Recently viewed</p>
            <div id="recent-views" class="recent-views-container">
            </div>
    </div>
    {%  endif %}
    <footer class = "footer ccblue">
    <div class="information cc2psmall">
        <p>Contact us</p>
        <div class = "infromationfont cclightgray">
            <p><span id = "cclightgray" class="glyphicon glyphicon-earphone" aria-hidden="true"></span> +354 8829311</p>
            <p><span id = "cclightgray" class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact information: <a href="mailto:captainconsole@cc.com">captainconsole@cc.com</a>.</p>
            <p><span id = "cclightgray" class="glyphicon glyphicon-home" aria-hidden="true"></span> Menntavegur 1, 101 Reykjavík</p>
        </div>
    </div>
    <div class="footerlogo cc2phuge">
        <p>Captain<br>Console</p>
    </div>
    <div class="footerbottom">
        <p class="cclightgrayxs">© 2020 CAPTAIN CONSOLE•</p>
    </div>
    </footer>
</div>