{% load static %}

<nav  class="navbar navbar-default navbar-fixed-top ccblue ccnavbar" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand cc2pmedium" id = "ccorange" href="{% url "frontpage" %}">Captain Console</a>
    </div>
{#    {% url 'other-index' %}#}
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- The form -->

            <form class="navbar-form navbar-left search" action="action_page.php">
                <input class="input" type="text" placeholder="Search.." id="search">
                <button type="submit" class="btn btn-default search-btn" id="search-bt"><i class="fa fa-search"></i></button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                  {%  if user.is_authenticated %}
                      <li role="presentation" ><a href="{% url 'view-cart' %}"><span id = "cclightgray" class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> <span class="badge primary" id="cart_count" ></span></a></li>
                      <li><a  id="littlepadding" href='{% url 'profile' %}'><img class = "smalliconimages" src="{{ profile.image }}" alt="pictureofuser"></a></li>
                      <li><a id = "cclightgray" href='{% url 'logout' %}'>Log out</a></li>
                  {%  else %}
                      <li><a id = "cclightgray" href='{% url 'login' %}'>Log in</a></li>
                      <li><a id = "cclightgray" href='{% url 'register' %}'>Register</a></li>
                  {%  endif %}
            </ul>

            <ul class="nav navbar-nav">
                {% if user.is_superuser %}
                <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'delete_user' %}'" id = "cclightgray">Delete user</button></li>
                <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'create-product' %}'" id = "cclightgray">Create product</button></li>
                <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'create_console' %}'" id = "cclightgray">Create console</button></li>
                <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'create-manufacturer' %}'" id = "cclightgray">Create manufacturer</button></li>
                {%  endif %}
            </ul>
        </div>
    </div><!-- /.container-fluid -->
    <div class="block">
        <ul class='ccnavbuttons'>
            {% for manufacturer, consoles in nav.items %}
                <li class="ccdropdown">
                <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'manufacturers-product' manufacturer %}'" id = "cclightgray">
                    {{ manufacturer }}</button>
                <ul class="ccdropdown-content ccblue">
                {% for console in consoles %}
                    <li><a class = "navlink" id="cclightgray" href="{% url 'consoles-product' manufacturer console  %}">{{ console }}</a></li>
                {% endfor %}
                    </ul>
                </li>
            {% endfor %}

            <li class="ccdropdown"><button type="button" class="btn btn-default navbar-btn" id="cclightgray">Deals</button></li>
            <li class="ccdropdown"><button type="button" class="btn btn-default navbar-btn" id="cclightgray" onclick="location.href='{% url 'about' %}'">About us</button></li>
        </ul>
    </div>
</nav>

<div class = "filler cclightblue"></div>