{% load static %}

<nav  class="navbar navbar-default navbar-fixed-top ccblue" >
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand cc2pmedium" id = "ccorange" href="{% url "frontpage" %}">Captain Console</a>

    </div>
{#    {% url 'other-index' %}#}
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <!--<form class="navbar-form navbar-left">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" id = "search-box">
            </div>
            <button type="submit" class="btn btn-default search-btn" id="search-btn">Submit</button>
        </form>-->

        <div class="search-btn-main">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <!-- The form -->
            <form class="search" action="action_page.php">
                <input class="input" type="text" placeholder="Search.." name="search">
                <button type="submit" class="btn btn-default search-btn"><i class="fa fa-search"></i></button>
            </form>
        </div>


        <ul class="nav navbar-nav navbar-right">
              {%  if user.is_authenticated %}
                  <li><a id = "cclightgray" href='{% url 'logout' %}'>Log out</a></li>
              {%  else %}
                  <li><a id = "cclightgray" href='{% url 'login' %}'>Log in</a></li>
                  <li><a id = "cclightgray" href='{% url 'register' %}'>Register</a></li>
              {%  endif %}

        </ul>
        <ul class="nav navbar-nav">
            <li class="btn-group">
              <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'manufacturers-product' 'Atari' %}'">Atari</button>
              <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'consoles-product' 'Atari' 'Atari 2600'  %}">Atari 2600</a></li>
                  <li><a href="{% url 'consoles-product' 'Atari' 'Atari 5200'  %}">Atari 5200</a></li>
                  <li><a href="{% url 'consoles-product' 'Atari' 'Atari 7200'  %}">Atari 7200</a></li>
              </ul>
            </li>
            <li class="btn-group">
              <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'manufacturers-product' 'Nintendo' %}'">Nintendo</button>
              <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'Nintendo 64'  %}">Nintendo 64</a></li>
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'Nintendo NES'  %}">Nintendo NES</a></li>
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'Super Nintendo'  %}">Super Nintendo</a></li>
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'Wii'  %}">Wii</a></li>
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'GameCube'  %}">GameCube</a></li>
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'Game Boy Advance'  %}">Game Boy Advance</a></li>
                  <li><a href="{% url 'consoles-product' 'Nintendo' 'Nintendo DS'  %}">Nintendo DS</a></li>
              </ul>
            </li>
              <li class="btn-group">
              <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'manufacturers-product' 'Playstation'  %}'">Playstation</button>
              <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                  <li><a href="{% url 'consoles-product' 'Playstation' 'Playstation 1'  %}">Playstation 1</a></li>
                  <li><a href="{% url 'consoles-product' 'Playstation' 'Playstation 2'  %}">Playstation 2</a></li>
                  <li><a href="{% url 'consoles-product' 'Playstation' 'Playstation 3'  %}">Playstation 3</a></li>
                  <li><a href="#">PSP</a></li>
              </ul>
             </li>
                <li class="btn-group">
                  <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'manufacturers-product' 'Sega'  %}'">Sega</button>
                  <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="{% url 'consoles-product' 'Sega' 'Genesis'  %}">Genesis</a></li>
                      <li><a href="{% url 'consoles-product' 'Sega' 'Dreamcast'  %}">Dreamcast</a></li>
                      <li><a href="{% url 'consoles-product' 'Sega' 'Game Gear'  %}">Game Gear</a></li>
                      <li><a href="{% url 'consoles-product' 'Sega' 'Saturn'  %}">Saturn</a></li>
                      <li><a href="{% url 'consoles-product' 'Sega' '32X'  %}">32X</a></li>
                  </ul>
                </li>

                <li class="btn-group">
                  <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'manufacturers-product' 'Xbox'  %}'">Xbox</button>
                  <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="{% url 'consoles-product' 'Xbox' 'Xbox original'  %}">Xbox original</a></li>
                      <li><a href="{% url 'consoles-product' 'Xbox' 'Xbox 360'  %}">Xbox 360</a></li>
                  </ul>
                </li>
                <li class="btn-group">
                  <button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'products' %}'">Other</button>
                  <button type="button" class="btn btn-default dropdown-toggle navbar-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                      <li><a href="#">I</a></li>
                      <li><a href="#">Dont</a></li>
                      <li><a href="#">KNOW</a></li>
                  </ul>

            </li>
            <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'create-product' %}'">Create product</button></li>
            <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'create_console' %}'">Create console</button></li>
            <li><button type="button" class="btn btn-default navbar-btn" onclick="location.href='{% url 'create-manufacturer' %}'">Create manufacturer</button></li>
            <li><button type="button" class="btn btn-default navbar-btn">Deals</button></li>
            <li><button type="button" class="btn btn-default navbar-btn">About us</button></li>
        </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>
<div class = "filler cclightblue"></div>





<!--button type="button" class="btn btn-default navbar-btn" -->