{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="cclightblue manufacturer_info">
        <a href="#"></a>
        <h4 class="homepagetext cc2phuge">{{ manufacturer.name }}</h4>
        <img class="manufacturer_images" src="{{  manufacturer.image  }}">
        <p class="ccbluebold">{{ manufacturer.description }}</p>
    </div>

    <div class="product_container">
    {% for console in  consoles%}
        <div class="product_boxes box ccwhite">
            <div class="product_boxes_inside box_inside" onclick="location.href='{% url 'consoles-product' 'Other' console.name %}'">
                <div class = "containerimage" >
                    <img class="mediumimages" src="{{ console.image }}" style="width:35%;">
                </div>
                <div class="button_and_text">
                    <div class="info">
                        <h4 class="cc2pmedium">{{ console.name }}</h4>
                    </div>
                </div>
            </div>
            <div class="below_box" onclick="location.href='{% url 'consoles-product' 'Other' console.name %}'"></div>
        </div>
    {% endfor %}
    </div>

    <div class = "informationbar ccblue">
        <h1 class="homepagetext cc2phuge">Scroll down to shop <br>↓</h1>
    </div>
    </div>

        <select  id="sort" onchange="sortit(this)">
            <option value="name">name (ascending)</option>
            <option value="name_reverse">name (descending)</option>
            <option value="price">price (ascending)</option>
            <option value="price_reverse">price (descending)</option>
        </select>
    <div class="product_container" id="container_for_products">
    {% for product in  products%}
        {% include 'products/product_overview.html' with product=product %}
    {% endfor %}
    </div>
{% endblock %}