{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="manufacturer_info ccblue" id="ccorange">
        <a href="#"></a>
        <h4 class="homepagetext cc2phuge">{{ manufacturer.name }}</h4>
        <img class="manufacturer_images" src="{% static   manufacturer.image  %}">
        <p class="cc2pmedium_shadow">{{ manufacturer.description }}</p>
    </div>

    <div class="product_container">
    {% for console in  consoles%}
        <div class="console_boxes box ccwhite">
            <div class="centered-text">
                <h4 class="homepagetext">{{ console.name }}</h4>
            </div>
        </div>
    {% endfor %}
    </div>

    <div class = "informationbar ccblue">
        <h1 class="homepagetext cc2phuge">Scroll down to shop <br>↓</h1>
    </div>
    </div>

        <select  id="sort" onchange="sortit(this)">
            <option value="name">name</option>
            <option value="price">price</option>
        </select>
    <div class="product_container" id="container_for_products">
    {% for product in  products%}
        {% include 'products/product_overview.html' with product=product %}
    {% endfor %}
    </div>
{% endblock %}