<!-- A form that allows a user to change his/hers password -->

{% extends "base.html" %}
{% block content %}

    <div class = "popup ccwhite" >
        <h1 class = cc2phuge>Change password</h1>
        <!-- If there is an error in the payment form a message is displayed -->
        {% if error == True %}
            {% include 'error.html' with message=message %}
        {% endif %}
        <!-- If the new password and old password was successfully typed in a success message is displayed -->
        {% if success == True %}
            {% include 'success_msg.html' with message=message %}
        {% endif %}
        <form method="post">
              {% csrf_token %}
              {{ form }}
          <button class="login-btn btn btn-primary" type="submit">Save changes</button>
        </form>
    </div>

{% endblock %}