{% extends "base.html" %}
{% block content %}
    <div class="login popup ccwhite">
        <h1 class = "cc2plarge">Sign in now!</h1>
        {% if error == True %}
            {% include 'error.html' with message=message %}
        {% endif %}
        {% if success == True %}
            {% include 'success_msg.html' with message=message %}
        {% endif %}
        <form method="post" class="form form-horizontal">
            {% csrf_token %}
            {{ form }}
        <div class="product_container">
            <input type="submit" class="btn btn-primary checkout_btn" value="Login" />
            <div  class="btn btn-default checkout_btn" onclick="location.href='{% url 'register' %}'">Register</div>
        </div>
        </form>
    </div>
{% endblock %}
