{% extends "base.html" %}
{% block content %}
    <div class = "popup ccwhite" >
        <h1 class = cc2phuge>Profile</h1>
        <form class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form1 }}
            {{ form2 }}
            <input type="submit" class="btn btn-primary profilebuttons" value="Update" />
        </form>
        <button class="btn btn-primary profilebuttons"  onclick="location.href='{% url 'billing' %}'"/>Billing</button>
        <button class="btn btn-primary profilebuttons"  onclick="location.href='{% url 'payment' %}'"/>Payment</button>
    </div>
{% endblock %}