{% extends "base.html" %}
{% block content %}

    <div class="popup ccwhite" >
        <h1 class=cc2phuge>Remove User</h1>
        {% if error == True %}
            {% include 'error.html' with message=message %}
        {% endif %}
        {% if success == True %}
            {% include 'success_msg.html' with message=message %}
        {% endif %}
        <form id="centered" method="post" style="text-align:center;margin-top:10%;">
              {% csrf_token %}
              {{ form }}
          <button class="login-btn btn btn-primary" type="submit">Confirm</button>
        </form>
    </div>

{% endblock %}