{% extends "base.html" %}
{% block content %}
    <h1 class = cc2phuge>Checkout</h1>
    <div class = "popup ccwhite" >

        <form class="form form-horizontal" id="form1" method="post">
            {% csrf_token %}
            {{ form_billing }}

            <input type="submit" class="btn btn-primary" value="Continue" />
            <button type="button" class="btn" onclick="location.href='{% url 'checkout-save-billing' %}'">Save Billing</button>
        </form>
    </div>
    <div class = "popup ccwhite" >
        <form class="form form-horizontal" id="form2" method="post">
            {% csrf_token %}
            {{ form_payment }}
            <button type="button" class="btn" onclick="location.href='{% url 'checkout-save-payment' %}'">Save Payment</button>
        </form>
        <button type="button" class="btn" onclick="place_order()">Place Order</button>

    </div>


{% endblock %}
\