{% extends "base.html" %}
{% block content %}
    {% load static %}

    <div id="order_review_div" class = "popup ccwhite" >
        <h1 id="order_header" class = cc2phuge>Order history</h1>

        <table>
        <tr>
            <th>Order number</th>
            <th>Buyer</th>
            <th>Billing Address</th>
            <th>Amount</th>
            <th>Order confirmed</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.payment.card_holder  }}</td>
                <td>{{ order.billing.street_name  }}</td>
                <td>{{ order.total  }}</td>
                <td>{{ order.confirmed  }}</td>
            </tr>
        {% endfor %}
        </table>

    </div>
{% endblock %}