{% extends "base.html" %}
{% block content %}
    <h1 class = cc2phuge>Checkout</h1>
    <div class = "popup ccwhite" >
            <h4 class="cc2plarge">Billing info</h4>
            <p class="ccbluelarge">Full name: {{ billing.full_name }}</p>
            <p class="ccbluelarge">Street address: {{ billing.street_name }}</p>
            <p class="ccbluelarge">House number: {{ billing.house_number }}</p>
            <p class="ccbluelarge">Country: {{ billing.country }}</p>
            <p class="ccbluelarge">Zip code: {{ billing.zip }}</p>
            <h4 class="cc2plarge">Payment info</h4>
            <p class="ccbluelarge">Card holder: {{ payment.card_holder }}</p>
            <p class="ccbluelarge">Card number: {{ payment.card_number }}</p>
            <p class="ccbluelarge">Exp. date: {{ payment.exp_date }}</p>
            <p class="ccbluelarge">CVC: {{ payment.cvc }}</p>
            <p class="ccbluelarge">Zip code: {{ billing.zip }}</p>
            <div class = " product_container">
                {% for product in  products%}
                    {% include 'products/product_overview.html' with product=product %}
                {% endfor %}
            </div>

            <button type="submit" class="btn" formaction="{% url 'checkout' %}">Back</button>
            <button type="button" class="btn" onclick="place_order({{ billing.id }},{{ payment.id }})">Confirm</button>

    </div>


{% endblock %}