/*colors*/
.ccwhite {
    background-color: white;
}

.cclightblue{
    background-color: #8F9EB2;
}

.cclightgray{
    color: #C4C4C4;
}

#cclightgray{
    color: #C4C4C4;
}

#ccorange{
    color: #F1AA19;
}

.ccorange{
    background-color:#F1AA19;
}

.ccblue{
    background-color: #51647D;
}