
/*font*/
.center{
    text-align: center;
}
.cc2penourmus{
    margin:auto;
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: 7vh;
    text-align: center;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.5);;
}


.cc2phuge{
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 3px rgba(0, 0, 0, 0.5);;
}

.cc2plarge{
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    text-align: center;
}

.cc2pmedium{
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
}

.cc2pmedium_shadow{
    margin-top:5%;
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: medium;
    text-align: center;
    text-shadow: 1px 2px rgba(0, 0, 0, 0.4);
}

.cc2psmall{
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    padding: 10px
}


.cclightgrayfont{
    color: #C4C4C4;
    font-size: large;
    padding: 10px;
    text-align: center;
}
.cclightgrayxs {
    color: #C4C4C4;
    font-size: xx-small;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;;
}

.ccbluelarge{
    color: #51647D;
    font-size: xx-large;
    text-align: center;
}
.ccbluemedium{
    color: #51647D;
    font-size: large;
    text-align: center;
}
.ccbluesmall{
    color: #51647D;
    font-size: medium;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;;

}

.ccbluexs{
    color: #51647D;
    font-size: xx-small;
    text-align: center;
    font-family: Helvetica,Arial,sans-serif;;

}
.ccbluebold{
    color: #51647D;
    font-size: medium;
    font-weight: bold;
}

.infromationfont{
    width: 50%;
    padding-top: 10px;
    border-top: 3px solid #F1AA19;
    font-family: Helvetica,Arial,sans-serif;;
}
.bold{
    font-size:25px;
    font-weight:900;
}

.centered-text{
    text-align:center;
}
.left-text{
    text-align: justify;
}

.medium{
    font-size:medium;
}


@media screen and (max-width: 700px) {
    .cc2penourmus{
        margin:auto;
        color: #F1AA19;
        font-family: 'Press Start 2P', cursive;
        font-size: 4vh;
        text-align: center;
        text-shadow: 1px 3px rgba(0, 0, 0, 0.5);;
    }
    .cc2phuge{
        font-size: x-large;
    }
    .cc2plarge{
        font-size: large;
    }
    .ccbluelarge{
        font-size: large;
    }
}