
.largeimages{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.mediumimages{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    object-fit: scale-down;
}


.smallimages{
    with:150px;
}

.product_details_images{
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-height: 50%;
    object-fit: scale-down;
}


