.homepagetext {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}


/* nav bar --------------------------------------------*/

.navlink{
    padding-left: 10px;
    padding-right: 10px;
    padding: 3px;
    text-decoration: none;
    display:block;

}
.navlink:hover{
    padding-left: 10px;
    padding-right: 10px;
    padding: 3px;
    background: #8F9EB2;;
    text-decoration: none;
    display:block;
    text-underline: none;
}


.navbar-btn{
    background-color: #51647D;"
    color: white;
    border:none;
}

.search-btn{
    background-color: #51647D;
    color: white;
    border:none;
    with:10%;
}
.search{
    width:40%;
    display: inline;s
}

.search-btn-main{
    margin-top:10px;


}

.input{
    width: 40%;
    border-radius: 10px;
}

.block{
    width: 100%;
    flex-wrap: wrap;
    border-top: 1px solid #C4C4C4;
    display: flex;
    padding-left: 10%;
}
@media screen and (max-width: 1000px) {
   .block{
        padding-left: 0%;
    }
}

.ccnavbuttons{
    list-style-type: none;
    width: 100%;
    padding: 0px
}


.ccdropdown {
      position: relative;
      display: inline-block;
}

.ccdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 5px 8px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px;
    list-style-type: none;
    float: left;
}

.ccdropdown:hover .ccdropdown-content {
    display: block;
}

/* product  ---------------------------------------------------*/
.buy-btn{
    border-radius:25px;
    width:80px;
    color:black;
}

.cart-btn{
    border-radius:25px;
    width:80px;
    color:black;
}

.intro {
    justify-content: center;
}

.remove-cart-btn{
    border:none;
    margin-top:5px;
    margin-left:85%;
}

.proceed-to-checkout-btn{
    margin-left:41%;
    margin-top:5%;
    margin-bottom:5%;
    height:60px;
    width:250px;
}

/* User ------------------------------------------------*/
.login{
    max-width:40%;
}
.form-horizontal{
    margin-top: 30px;
}

.login-btn{
    margin-left:13%;
    margin-top:20%;
    width:120px;
}

#password_id{
    width:50%;
}

#username_id{
    width:50%;
}

.signup{
    margin-top:0%;
    margin-bottom:30%;
}

.singup-input{
    width:100%;
}
.helptext{
    display:block;
}



/* junk ------------------------------------------------*/

.intro {
    justify-content: center;
}

.information{
    width: 65%;
}

