.homepagetext {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}


/* nav bar --------------------------------------------*/
.filler{height: 150px;}

.navbar-btn{
    background-color: #51647D;
    color: white;
    border:none;
}

.search-btn{
    background-color: #51647D;
    color: white;
    border:none;
}

.search-btn-main{
    display: inline;
}

.input{
    width: 30%;
    margin-left:40%;
    margin-top:10px;
}



/* product  ---------------------------------------------------*/
.buy-btn{
    border-radius:25px;
    width:80px;
    color:black;
}

.cart-btn{
    border-radius:25px;
    width:80px;
    color:black;
}

.intro {
    justify-content: center;
}

/* User ------------------------------------------------*/
.login{
    max-width:40%;
}
.form-horizontal{
    display: flex;
    width: 80%;

}

.login-btn{
    margin-left:13%;
    margin-top:20%;
    width:120px;
}

#password_id{
    width:50%;
}

#username_id{
    width:50%;
}

.signup{
    margin-top:0%;
    margin-bottom:30%;
}

.singup-input{
    width:100%;
}



/* junk ------------------------------------------------*/


.intro {
    justify-content: center;
}

.information{
    width: 65%;
}

.manufacturer_info {
    height: 250px;
    text-align:center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}