
main{
}
.homepagetext {
     width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.informationbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mediumimages{
    width: 100%;
}

.cccontainer{
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 5%;
    margin-right: 5%;
    width: 10%;

}


/*colors*/
body{
    background-color: #8F9EB2;
}

#ccorange{
    color: #F1AA19;
}


.ccblue{
    background-color: #51647D;
}
.ccorangehuge{
    color: #F1AA19;
    font-family: 'Press Start 2P', cursive;
    font-size: 5rem;
    text-align: center;
}
.ccorangelarge{
        color: #F1AA19;
        font-family: 'Press Start 2P', cursive;
        font-size: xx-large;
        text-align: center;


}
.ccorangemedium{
        color: #F1AA19;
        font-family: 'Press Start 2P', cursive;
        font-size: medium;
        text-align: center;


}
.ccorangesmall{
        color: #F1AA19;
        font-family: 'Press Start 2P', cursive;
        font-size: small;
        text-align: center;
        padding: 10px

}

.intro {
    justify-content: center;
}


.ccnavbar{
    width: 100%
}