{% extends 'base.html' %}
{% block content %}
    <div class = "popup ccwhite" >
        <h1 class="cc2phuge">Create product</h1>
        {% if error == True %}
            {% include 'error.html' with message=message %}
        {% endif %}
        {% if success == True %}
            {% include 'success_msg.html' with message=message %}
        {% endif %}
        <form class="form form-horizontal" method="post">
            {% csrf_token %}
            {{ form1 }}
            {{ form2 }}
            <input type="submit" class="login-btn btn btn-primary" value="Create" />
        </form>
    </div>
{% endblock %}