{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div>
{#            <img class ="mediumimages" src="{% static 'images/family_new.jpg' %}">#}
            <h1 class="homepagetext ccorangehuge"> Welcome to the largest retro gaming store</h1>
        </div>
        <div class =  "informationbar ccblue">
            <div class = "cccontainer">
                <img class ="mediumimages" src="{% static 'images/controller.png' %}">
                <p class="ccorangesmall">Wide selection of console</p>
            </div>
            <div class = "cccontainer">
                <img class ="mediumimages" src="{% static 'images/like.png' %}">
                <p class="ccorangesmall">Good customer service</p>
            </div>
            <div class = "cccontainer">
                <img class ="mediumimages" src="{% static 'images/sheild.png' %}">
                <p class="ccorangesmall">safe payment</p>
            </div>
             <div class = "cccontainer">
                <img class ="mediumimages" src="{% static 'images/earth.png' %}">
                <p class="ccorangesmall">All around the world delivery</p>
            </div>
            <div class = "cccontainer">
                <img class ="mediumimages" src="{% static 'images/sticks.png' %}">
                <p class="ccorangesmall">Family friendly</p>
            </div>
        </div>
{#        <div class = "cclightblue">#}
{#            {% for product in  products%}#}
{#                {% include 'products/product_details.html' with product=product %}#}
{#            {% endfor %}#}
{#        </div>#}
    {% endblock %}