{% extends 'base.html' %}
{% load static %}

    {% block content %}
        <div>
            <h1 class="homepagetext cc2phuge"> Welcome to the largest retro gaming shop</h1>
        </div>
        <div class =  "informationbar ccblue">
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/controller.png' %}">
                <p class="cclightgrayfont">Wide selection of console</p>
            </div>
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/like.png' %}">
                <p class="cclightgrayfont">Good customer service</p>
            </div>
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/sheild.png' %}">
                <p class="cclightgrayfont">Safe payment</p>
            </div>
             <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/earth.png' %}">
                <p class="cclightgrayfont">All around the world delivery</p>
            </div>
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/sticks.png' %}">
                <p class="cclightgrayfont">Family friendly</p>
            </div>
        </div>
        <div>
            <h1 class="homepagetext cc2phuge">Scroll down to shop <br>↓</h1>
        </div>
        <select  id="sort" onchange="sortit(this)">
            <option value="name">name (ascending)</option>
            <option value="name_reverse">name (descending)</option>
            <option value="price">price (ascending)</option>
            <option value="price_reverse">price (descending)</option>
        </select>
        <div class = " product_container" id="container_for_products">

            {% for product in  products%}
                {% include 'products/product_overview.html' with product=product %}
            {% endfor %}
        </div>˜˜

    {% endblock %}