{% extends 'base.html' %}
{% load static %}

    {% block content %}
        {% if error == True %}

            {% include 'error.html' with message=message %}
        {% endif %}
        <div>
            <h1 class="homepagetext cc2phuge"> Welcome to the largest retro gaming shop</h1>
        </div>
        <div class =  "informationbar ccblue">
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/controller.png' %}">
                <p class="cclightgrayfont">Wide selection of console</p>
            </div>
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/like.png' %}">
                <p class="cclightgrayfont">Good customer service</p>
            </div>
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/sheild.png' %}">
                <p class="cclightgrayfont">Safe payment</p>
            </div>
             <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/earth.png' %}">
                <p class="cclightgrayfont">All around the world delivery</p>
            </div>
            <div class = "cccontainer">
                <img class ="largeimages" src="{% static 'images/sticks.png' %}">
                <p class="cclightgrayfont">Family friendly</p>
            </div>
        </div>
        <div>
            <h1 class="homepagetext cc2phuge">Scroll down to shop <br>↓</h1>
        </div>

        <div class = "product_container" id="container_for_products">
            <div class="single_container_front">
                <h2 class="cc2plarge center">NEWEST</h2>
                {% for product in  products_new%}
                    {% include 'products/product_overview.html' with product=product %}
                {% endfor %}
            </div>
            <div class="single_container_front">
                <h2 class="cc2plarge center">HOT</h2>
                {% for product in products_hot %}
                    {% include 'products/product_overview.html' with product=product %}
                {% endfor %}
            </div>
            <div class="single_container_front">
                <h2 class="cc2plarge center">DEALS</h2>
                {% for product in products_deal %}
                    {% include 'products/product_overview.html' with product=product %}
                {% endfor %}
            </div>
        </div>

    {% endblock %}