{% extends 'base.html' %}

{% block content %}

{#    here all of our products are shown.#}

    <h1 class="homepagetext cc2phuge"> All products</h1>
    <!--<h1 class="homepagetext cc2phuge">STORE</h1>-->
    <select  id="sort" onchange="sortit(this)">
            <option value="name">name (ascending)</option>
            <option value="name_reverse">name (descending)</option>
            <option value="price">price (ascending)</option>
            <option value="price_reverse">price (descending)</option>
    </select>


    <div class="products product_container" id="container_for_products">

{#      for loop to show all the products.#}
        {% for product in products%}
            {% include 'products/product_overview.html' with product=product%}
        {% endfor %}
    </div>
{% endblock %}





