{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div    style=" background-image: url({{    product.productimage_set.first.image  }});
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-size: cover;">
    {% if error == True %}
            {% include 'error.html' with message=message %}
        {% endif %}

        <div class = "product_container">
            <div class=" imageproductdetails productdetails ccwhite">
                <img id="myImage" class = "product_details_images" src="{{   product.productimage_set.first.image  }}">
                <div class = "image_box_detailed box_detailed" >
                    {% for image in product.productimage_set.all %}
                            <img class="scrollimages" src="{{   image.image  }}" onclick="document.getElementById('myImage').src='{{   image.image  }}'">
                    {% endfor %}
                </div>

                <div class="button_and_text">
                    <div class="info">
                        <p class="ccbluelarge">{{ product.console_type }}</p>
                        {% if product.on_sale == True %}
                        <p class="ccbluemedium">{{ product.discount_price }} $</p>
                        {% else %}
                        <p class="ccbluemedium">{{ product.price }} $</p>
                        {% endif %}

                    </div>
                    {% if product.stock > 0 %}
                        <div class="below_box">
                              <button type="button" class="product-btn buy ccbluemedium" onclick="buy_product({{ product.id }})">Buy</button>
                              <button type="button" class="product-btn cart ccbluemedium" onclick="add_to_cart_js({{ product.id }})">  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button>
                        </div>
                    {% else %}
                        <div class="below_box">
                            <p class = "ccbluemedium bold center">Out of stock</p>
                        </div>>
                   {% endif %}
                </div>
            </div>

            <div class="textproductdetails productdetails ccwhite ">
                <h4 class="cc2plarge">{{ product.name }}</h4>
                <p class="ccbluelarge">{{ product.manufacturer }}</p>
                <p class="ccbluemedium">{{ product.description }}</p>
                <div class="button_and_text">
                    <h4 class="cc2plarge" id="star_{{ product.id }}"></h4>
                    {% if user.is_superuser %}
                        <div class="adminbuttons_container">
                            <button type="button" class="btn btn-primary login-btn"  onclick="location.href='{% url 'update-product' product.id%}'">update</button>
                            <button type="button" class="btn btn-primary login-btn"  onclick="location.href='{% url 'delete-product' product.id%}'">delete</button>

                        </div>
                    {% endif %}
                    <button type="button" id="give_review_button" class="btn btn-primary login-btn" style="display: none" name="{{ product.id }}"  onclick="location.href='{% url 'review-product' product.id%}'">Review product</button>

                </div>

            </div>
        </div>




        {# for comments on the products #}
        <div class = "informationbar ccblue filler2">
            <h1 class="homepagetext cc2phuge">Reviews</h1>
        </div>
        <div class="product_container" id="comment_section">
            {% for comment in comments %}
                {% include 'products/review_details.html' with comment=comment profile=profile%}
            {% endfor %}
        </div>
    </div>



    {# <div class="btn-group buy-button" role="group" aria-label="..."> #}
    {# <button type="button" class="btn btn-default">Buy</button> #}
    {# <button type="button" class="btn btn-default">  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></button> #}

{% endblock %}
