{% load static %}
{% block content %}

    <div class="checkout_boxes box ccwhite">
        <div class = "containerimage">
            <a href="/products/{{ product.product.id }}"></a>
            <img class = "mediumimages" src="{{ product.product.productimage_set.first.image  }}" style="height:150px;">
        </div>
        <div class="button_and_text">
            <div class="info">
                <h4 class="name ccbluemedium center" name="{{ product.product.name }}">{{ product.product.name }}</h4>
                {% if product.product.on_sale == True %}
                        <p class="price ccbluesmall center" name="{{ product.product.discount_price }}">{{ product.product.discount_price }} $ (-{{ product.product.discount }}%)</p>
                    {% else %}
                    <p class="price ccbluesmall center" name="{{ product.product.price }}">{{ product.product.price }} $</p>
                    {% endif %}

                <p class="price ccbluesmall center">Quantity: {{ product.quantity }}</p>
            </div>
        </div>
    </div>

{% endblock %}