{% load static %}
{% block content %}

    <div class="single_comment review_boxes box ccwhite" >


        <div class = "reviewcontainer">
            <img class = "iconimages" src="{{ comment.image }}" alt="pictureofuser" onload="calculateRating({{ comment.id }}, {{ comment.star }})">
            <h3 class="ccbluelarge bold">{{ comment.name }}</h3>
        </div>
        <div class="review_comment">

            <h4 class="left-text cc2pmedium" id="star_{{ comment.id }}"></h4>

            <p class="ccbluebold">{{ comment.comment }}</p>

        </div>
    </div>


{% endblock %}