<!-- Here the admin can update the product information -->

{% extends 'base.html' %}
{% block content %}
    <div class="popup ccwhite">
    <h1 class="cc2plarge">Update product</h1>
        {% if error == True %}
            {% include 'error.html' with message=message %}
        {% endif %}
        {% if success == True %}
            {% include 'success_msg.html' with message=message %}
        {% endif %}
    <form class="form form-horizontal" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary login-btn" value="Update" />
    </form>
        <div class="center">
            <button type="button" class="btn btn-default login-btn" onclick="location.href='{% url 'update-product-photos' product_id %}'">Add images</button>
        </div>
    </div>

{% endblock %}