{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="manufacturer_info ccwhite">
        <h4 class = "homepagetext bold" onclick="location.href='{% url 'consoles-product' console.manufacturer console.name %}'">{{ console.name }}</h4>
    </div>
        {% if  filter != 'none' %}
            <h3 class="console_boxes box ccwhite">{{ filter }}</h3>
        {% else %}
            <h3 class="console_boxes box ccwhite centered-text" onclick="location.href='{% url 'consoles-consoles' console.manufacturer console.name %}'">Consoles</h3>
            <h3 class="console_boxes box ccwhite centered-text" onclick="location.href='{% url 'consoles-games' console.manufacturer console.name %}'">Games</h3>
            <h3 class="console_boxes box ccwhite centered-text" onclick="location.href='{% url 'consoles-accessories' console.manufacturer console.name %}'">Accessories</h3>
        {% endif %}

    <div class="product_container">
    {% for product in  products%}
        {% include 'products/product_overview.html' with product=product filter=filter %}
    {% endfor %}
    </div>
{% endblock %}